@using GridMvc.Html
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<NZBDash.UI.Models.ViewModels.SabNzbd.SabNzbdHistoryViewModel>

@*//TODO : Resource*@
<div class="col-md-12">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(x => x.Name)
           .Titled("Name")
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(300);

        columns.Add(x => x.Status)
            .Titled("Status");


        columns.Add(x => x.Category)
            .Titled("Category");

        columns.Add(x => x.FileSize);
    }).WithPaging(10).Filterable().WithMultipleFilters()

</div>