@using NZBDash.UI.Models
@model IEnumerable<NZBDash.UI.Models.ApplicationConfigurationViewModel>

@{
    ViewBag.Title = "Configuration";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_AddApplication", new ApplicationConfigurationViewModel())

<div id="applications">
    @foreach (var app in Model)
    {
        @Html.Partial("_Application", app)
    }
</div>


@section scripts
{
    <script src="~/Scripts/ApplicationConfigurationSignalR.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
