<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="configRefresh" value="5" /> <!--In Minutes-->
  </appSettings>
  
  
  <nlog autoReload="true" throwExceptions="true" internalLogFile="${basedir}/App_Data/nlog.txt" internalLogLevel="Debug" internalLogToConsole="true">
    <targets async="true">
      <target name="filelog" type="File" fileName="${specialfolder:folder=CommonApplicationData}/NZBDash/Monitoring_${shortdate}.log" layout="${date} ${logger} ${level} : ${message}" archiveFileName="${specialfolder:folder=CommonApplicationData}/NZBDash/Archive/Monitoring_${shortdate}.{#}.txt" archiveNumbering="DateAndSequence" archiveAboveSize="10240" archiveDateFormat="yyyyMMdd" concurrentWrites="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="filelog" />
    </rules>
  </nlog>
</configuration>
