<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="configRefresh" value="5" /> <!--In Minutes-->
  </appSettings>

<!--NLog Information-->
  <nlog autoReload="true" throwExceptions="true" internalLogFile="${basedir}/App_Data/nlog.txt" internalLogLevel="Debug" internalLogToConsole="true">

    <variable name="Layout"       value="${date} ${logger} ${level} : ${message}"/>
    <variable name="FileLocation" value="${specialfolder:folder=CommonApplicationData}/NZBDash"/>

    <targets async="true">
      <target name="mainFileLog"  type="File" fileName="${FileLocation}/Monitoring_${shortdate}.log"          layout="${Layout}" archiveFileName="${FileLocation}/Archive/Monitoring_${shortdate}.{#}.txt"          archiveNumbering="DateAndSequence" archiveAboveSize="102400" archiveDateFormat="yyyyMMdd" concurrentWrites="true" />
      <target name="network"      type="File" fileName="${FileLocation}/Monitoring_Network_${shortdate}.log"  layout="${Layout}" archiveFileName="${FileLocation}/Archive/Monitoring_Network_${shortdate}.{#}.txt"  archiveNumbering="DateAndSequence" archiveAboveSize="102400" archiveDateFormat="yyyyMMdd" concurrentWrites="true" />
      <target name="storage"      type="File" fileName="${FileLocation}/Monitoring_Storage_${shortdate}.log"  layout="${Layout}" archiveFileName="${FileLocation}/Archive/Monitoring_Storage_${shortdate}.{#}.txt"  archiveNumbering="DateAndSequence" archiveAboveSize="102400" archiveDateFormat="yyyyMMdd" concurrentWrites="true" />
      <target name="cpu"          type="File" fileName="${FileLocation}/Monitoring_CPU_${shortdate}.log"      layout="${Layout}" archiveFileName="${FileLocation}/Archive/Monitoring_CPU_${shortdate}.{#}.txt"      archiveNumbering="DateAndSequence" archiveAboveSize="102400" archiveDateFormat="yyyyMMdd" concurrentWrites="true" />
    </targets>
    <rules>
      <logger name="*NetworkObserver"  minlevel="Trace" writeTo="network"  final="true"/>
      <logger name="*CpuObserver"      minlevel="Trace" writeTo="cpu"      final="true" />
      <logger name="*StorageObserver"  minlevel="Trace" writeTo="storage"  final="true"/>
      <logger name="*"                 minlevel="Trace" writeTo="mainFileLog"          />
    </rules>
  </nlog>
</configuration>
