@model IEnumerable<NZBDash.UI.Models.Dashboard.DashboardLinksViewModel>

    <div class="panel panel-default">
        <div class="panel-heading">Links</div>
        <div class="panel-body">
            @foreach (var link in Model)
            {
                <a href="@link.LinkEndpoint" class="col-md-12">
                    @link.LinkName
                </a>
            }
        </div>
    </div>



