.jumbotron {
    background: #fbfbfb url('swirl_pattern.png') left -250px repeat;
    background-size: 15%;
    border-bottom: 1px solid #e7e7e7;
    font-size: 18px;
}
.navbar {
    margin-bottom: 0 !important;
}

.footer {
    background-color: #f8f8f8 !important;
    border-top: 1px solid #e7e7e7;
    color: #555;
    margin-top: 20px;
    padding: 20px 0;
    width: 100%;
}

.page-section {
    border-bottom: 1px solid #e7e7e7;
}