@using NZBDash.Resources
@using NZBDash.UI.Helpers


@Html.RenderHeader(Resources.Applications_CouchPotato_Title)


<ul class="nav nav-tabs">
    <li id="HomeTab" role="presentation" class="active"><a id="Home" href="#">@Resources.Applications_CouchPotato_Movies</a></li>
</ul>

<div id="movies">
    @Html.AjaxPanel()
</div>

<script>
    $(function() {

        $.ajax("@Url.Action("Movies")").success(function (view) {
            $('#movies').html(view);
        });
    });
</script>