<?xml version="1.0" ?>
<nlog autoReload="true" throwExceptions="true" internalLogFile="${basedir}/App_Data/nlog.txt" internalLogLevel="Debug"
 internalLogToConsole="true">

  <targets>
    <!--Useful for debugging-->
    <target name="consolelog" type="ColoredConsole"
    layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

    <target name="filelog" type="File" fileName="${basedir}/App_Data/Site.log"
    layout="${date}: ${message}" />

    <!--<target name="eventlog" type="EventLog" source="My App" log="Application"
    layout="${date}: ${message} ${stacktrace}" />-->

  </targets>

  <rules>
    <!--
 <logger name="*" minlevel="Fatal" writeTo="eventlog" />
 -->
    <logger name="*" minlevel="Info" writeTo="filelog" />
  </rules>

</nlog>