@{
    ViewBag.Title = "Settings";
}

<div class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left">

        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

            @Html.Partial("_Sidebar")
        </div>
    </div>
</div>
