<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="NZBDash" Language="1033" Version="1.0.0.0" Manufacturer="Jamie Tech" UpgradeCode="e7b7e46d-b860-4cf2-baad-3cb815754889">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of NZBDash is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Launch Conditions/Pre-requisite checks --><!--
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="Requires .NET Framework 4.5">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Property Id="IISMAJORVERSION" Secure="yes">
      <RegistrySearch Id="RegistryIISMajorVersion" Key="SOFTWARE\Microsoft\InetStp" Root="HKLM" Type="raw" Name="MajorVersion" />
    </Property>

    <Condition Message="Requires IIS version greater than 7">
      <![CDATA[Installed OR IISMAJORVERSION >= "#7"]]>
    </Condition>-->
    
		<Feature Id="ProductFeature" Title="NZBDash" Level="1">
			<ComponentGroupRef Id="SourceComponentGroup" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="RootDirectory" Name="NZBDash" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>

