@model List<NZBDash.Core.Model.DriveInfoObj>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Drives</div>
        <div class="panel-body">
            @foreach (var drive in Model)
            {
                <div class="col-md-12">
                    @drive.Name
                    <div class="col-md-6">

                        <div class="pieContainer">
                            <div class="pieBackground"></div>
                            <div id="pieSlice1" class="hold">
                                <div class="pie" style="transform:  rotate(@((drive.PercentageFilled * 360 / 100))deg)"></div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-6">
                        <div>
                            HD Size : @drive.TotalSpaceString
                        </div>
                        <div>
                            Free Space : @drive.FreeSpaceString
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
