@model NZBDash.Core.Model.SystemLinks
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Network Links</div>
        <div class="panel-body">
            <a href="@Model.SabNZB" class="col-md-12">
                SabNZB
            </a>
            <a href="@Model.SickBeard" id="SendSpan" class="col-md-12">
                SickBeard
            </a>

            <a href="@Model.Torrent" id="TotalSpan" class="col-md-12">
                Torrent
            </a>
        </div>
    </div>
</div>

