<div class="/col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Networking</div>
        <div class="panel-body">
            <span class="col-md-12" id="ReceiveSpan">
            </span>
            <span id="SendSpan" class="col-md-12">
            </span>

            <span id="TotalSpan" class="col-md-12">
            </span>

        </div>
    </div>
</div>


