@model List<NZBDash.Core.Model.ProcessObj>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Processes</div>
        <div class="panel-body">
            @foreach (var process in Model.OrderByDescending(p => p.PrivateMemorySize64))
            {
                <div>
                    @if (!process.Responding)
                    {
                        <div style="background-color:red">
                            @process.ProcessName
                            using
                            @(process.PrivateMemorySize64 / 1024) KB ram
                        </div>
                    }
                    else
                    {
                        <div>
                            @process.ProcessName
                            using
                            @(process.PrivateMemorySize64 / 1024) KB ram
                        </div>
                    }
                </div>
            }

        </div>
    </div>
</div>

