@model NZBDash.Core.Model.InfoViewModel
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Server Info</div>
        <div class="panel-body">
            <span class="col-md-12">
                <span class="col-md-12">
                    OS Name
                    @Model.RamInfo.OSFullName;
                </span>
                <span class="col-md-12">
                    Platform:
                    @Model.RamInfo.OSPlatform;
                </span>
                <span class="col-md-12">
                    OS Version:
                    @Model.RamInfo.OSVersion;
                </span>
                <span class="col-md-12" id="UpTimeSpan">
                    @Model.UpTime;
                </span>
            </span>

        </div>
    </div>
</div>

