@model List<NZBDash.Core.Model.XbmcConfigs>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading"id="test">XBMC Boxes</div>
        <div class="panel-body">
            @foreach (var xbmc in Model)
            {
                <script type="text/javascript">

                        addToXbmcHosts("@xbmc.IpAddress");
                </script>
                    <a href="@xbmc.IpAddress" class="col-md-12">
                        @xbmc.Name
                    </a>
                    <div id="@xbmc.IpAddress"></div>
                    <span class="col-md-12">
                        Now Playing : Hook
                    </span>
            }

            <script type="text/javascript">
                    runXbmc();
            </script>
        </div>
    </div>
</div>


