@model IEnumerable<NZBDash.UI.Models.ViewModels.Sonarr.SonarrEpisodeViewModel>

<div class="col-md-12">
    @foreach (var ep in Model)
    {
        <div>
            @ep.Title
        </div>
    }
</div>