@using NZBDash.Resources
@using NZBDash.UI.Helpers


@Html.RenderHeader(Resources.Applications_Sonarr_Title)


<ul class="nav nav-tabs">
    <li id="HomeTab" role="presentation" class="active"><a id="Home" href="#">@Resources.Applications_Sonarr_Tab_TvShows</a></li>
</ul>

<div id="Series">
    @Html.AjaxPanel()
</div>

<script>
    $(function() {

        $.ajax("@Url.Action("GetSeries")").success(function (view) {
            $('#Series').html(view);
        });
    });
</script>