<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap dll="sqlite" target="libsqlite.so.0" os="linux"/>
  <dllmap dll="sqlite" target="libsqlite.0.dylib" os="osx"/>
  <dllmap dll="sqlite3" target="libsqlite3.so.0" os="linux"/>
  <dllmap dll="sqlite3" target="libsqlite3.0.dylib" os="osx"/>
  <configSections>
 </configSections>
  <system.data>
    <DbProviderFactories>
      <add name="Mono" invariant="Mono.Data.Sqlite" description="Mono Data Provider" type="Mono.Data.Sqlite.SqliteProviderFactory" />
      <add name="Windows" invariant="System.Data.SQLite" description="Windows Data Provider" type="System.Data.SQLite.SQLiteProviderFactory" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=\NZBDash\NZBDash.sqlite" providerName="System.Data.SQLite"/>
    <!--<add name="Database" connectionString="Data Source=\NZBDash\NZBDash.sqlite" providerName="Mono.Data.Sqlite"/>-->
  </connectionStrings>
</configuration>